{% if not intermediate_table %}
type {{ model_name }}Cache interface {
	{{ model_name }}({{ model_name }}Pk) *{{ model_name }}
	Update{{ model_name }}{% if not model_name|slice:"-1:" == "s" %}s{% endif %}({{ model_name }}List)
    {% for field in all_fields %}{% if field.one_to_one %}{{ model_name }}By{{ field.camelcased_column }}({{ field.gotype_nopointer }}) *{{ model_name }}
    {% endif %}{% endfor %}
}

type Simple{{ model_name }}Cache struct {
    lorm.BaseCache
    byPk map[{{ model_name }}Pk]*{{ model_name }}{% for field in all_fields %}{% if field.one_to_one %}
    by{{ field.camelcased_column }} map[{{ field.gotype_nopointer }}]*{{ model_name }}{% endif %}{% endfor %}
}

func (c *Simple{{ model_name }}Cache) init(size int) {
    if c.byPk == nil {
        c.byPk = make(map[{{ model_name }}Pk]*{{ model_name }}, size){% for field in all_fields %}{% if field.one_to_one %}
        c.by{{ field.camelcased_column }} = make(map[{{ field.gotype_nopointer }}]*{{ model_name }}, size){% endif %}{% endfor %}
    }
}

func (c *Simple{{ model_name }}Cache) {{ model_name }}(key {{ model_name }}Pk) *{{ model_name }} {
    if res := c.get{{ model_name }}(key); res != nil {
        return res
    }
    lorm.CacheUsed("Simple{{ model_name }}Cache.{{ model_name }}()")
    l := {{ model_name }}Table.Filter().{{ pk_field.camelcased_attname|capfirst }}(key).MustList()
    c.init(len(l))
    c.Update{{ model_name }}{% if not model_name|slice:"-1:" == "s" %}s{% endif %}(l)
    return c.get{{ model_name }}(key)
}

func (c *Simple{{ model_name }}Cache) get{{ model_name }}(key {{ model_name }}Pk) *{{ model_name }} {
    c.RLock()
    defer c.RUnlock()
    return c.byPk[key]
}

func (c *Simple{{ model_name }}Cache) Update{{ model_name }}{% if not model_name|slice:"-1:" == "s" %}s{% endif %}(l {{ model_name }}List) {
    c.init(len(l))
    c.Lock()
    defer c.Unlock()
	for _, v := range l {
		c.byPk[v.Pk()] = v{% for field in all_fields %}{% if field.one_to_one %}{% if field.is_pointer %}
        if v.{{ field.camelcased_attname }} != nil {
            c.by{{ field.camelcased_column }}[*v.{{ field.camelcased_attname }}] = v
        }{% else %}
        c.by{{ field.camelcased_column }}[v.{{ field.camelcased_attname }}] = v
        {% endif %}{% endif %}{% endfor %}
	}
}

{% for field in all_fields %}
    {% if field.one_to_one %}
        func (c *Simple{{ model_name }}Cache) {{ model_name }}By{{ field.camelcased_column }}(key {{ field.gotype_nopointer }}) *{{ model_name }} {
            if res := c.get{{ model_name }}By{{ field.camelcased_column }}(key); res != nil {
                return res
            }
            lorm.CacheUsed("Simple{{ model_name }}Cache.{{ model_name }}By{{ field.camelcased_column }}()")
            l := {{ model_name }}Table.Filter().{{ field.camelcased_column }}(key).MustList()
            c.init(len(l))
            c.Update{{ model_name }}{% if not model_name|slice:"-1:" == "s" %}s{% endif %}(l)
            return c.get{{ model_name }}By{{ field.camelcased_column }}(key)
        }

        func (c *Simple{{ model_name }}Cache) get{{ model_name }}By{{ field.camelcased_column }}(key {{ field.gotype_nopointer }}) *{{ model_name }} {
            c.RLock()
            defer c.RUnlock()
            return c.by{{ field.camelcased_column }}[key]
        }
    {% endif %}
{% endfor %}

{% endif %}